/* Add CSS Styling */

.odd {
    font-family: Verdana, 'DejaVu Sans', sans-serif;
    background-color: #FAA18F;
}

#second-elem {
    color: #2746F5;
    font-size: 36px;
}

.adjust_font_size {
    font-size: 24px;
}

#fourth-elem {
    background-color: #98FA8F;
    font-weight: bold;
}
