body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 100;
  }

.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

.small-para {
  font-size: 14px;
}

#confirm-button {
  background: green;
  color: white;
  font-weight: bold;
}

.button{
    background-color: white;
    color: black;
    font-size: 20px;
  }

.text {
  font-weight: lighter;
}

.child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}
